# Data Science Tools and Ecosystem

# In this notebook, Data Science Tools and Ecosystem are summarized.

## Some of the popular languages that Data Scientists use are:
1. Pyhton
2. R
3. MySql

## Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. pytorch
3. Keras
4. ggplot

| Data Science Tools |
|--------------------|
|Git Hub|
|IBM watson Studio |
|Appache |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
220/60
#This will convert 200 minutes to hours by diving by 60

3.6666666666666665

# List popular languages for Data Science
- Python
- R
- MySql

## Auhthor
Syed Wajahat Hussain Shah